irr/
fert_sys_1/
fert_sys_2/
fert_sys_3/
fert_sys_4/
fert_sys_5/
.DS_Store
fert_man_file_sys1.csv
fert_man_file_sys2.csv
fert_man_file_sys3.csv
fert_man_file_sys4.csv
fert_man_file_sys5.csv
irrigation.csv
topo.csv
topo.txt
topo_sys_1/
topo_sys_2/
topo_sys_3/
topo_sys_4/
topo_sys_5/
tillage_sys_1/
tillage_sys_2/
tillage_sys_3/
tillage_sys_4/
tillage_sys_5/
tillage.csv
tillage.ipynb
tillage.txt
